.table {
  width: 500px;
  margin: auto;
}

form {
  width: 400px;
  margin: auto;
}

input {
  margin-bottom: 1rem;
}

th,
td {
  font-weight: 500;
}

@media (max-width: 567px) {
  .table {
    width: 300px;
  }

  form {
    width: 250px;
  }

  th,
  td {
    font-size: 0.75rem;
    font-weight: 500;
  }
}
